/*
 * SPDX-FileCopyrightText: 2021 Johannes Loher
 *
 * SPDX-License-Identifier: MIT
 */

.tb-control-button-group {
  display: flex;
  text-align: center;
  width: 100%;
  padding: 0 calc(1em / 3);

  &__button {
    flex: 1;
  }
}
