/*
 * SPDX-FileCopyrightText: 2021 Johannes Loher
 *
 * SPDX-License-Identifier: MIT
 */

@use "../utils/colors";

// Needs to be nested in .dice-roll to win against foundry's style.css with respect to specificity
.dice-roll .tb-dice-total {
  @mixin color-filter($rotation) {
    filter: sepia(0.5) hue-rotate($rotation);
  }

  &--success {
    @include color-filter(30deg);
    background-color: colors.$c-success-bg;
    color: colors.$c-success;
  }

  &--six {
    @include color-filter(60deg);
    background-color: colors.$c-six-bg;
    color: colors.$c-six;
  }

  &--wyrm {
    @include color-filter(-60deg);
    background-color: colors.$c-wyrm-bg;
    color: colors.$c-wyrm;
  }
}
