<div class="tb2-skill rollable-skill"  data-check="{{skills-key}}"  title="{{localize 'TB2.SkillTooltip' check=check-label}}">
  <div>{{skill-label}}</div>
  <div>{{skill-rating}}</div>
<!--  TODO advances-->
</div>
