<div class="tb2-skills">
  <h1>Skills</h1>
  {{#each config.i18n.skills as |skills-label skills-key|}}
    {{> systems/torchbearer/templates/sheets/actor/components/skill.hbs skills-key=skills-key skills-rating=(lookup
      ../data.data.skill skills-key) skill-label=skills-label}}
  {{/each}}
</div>
