<div class="tab" data-tab="wises">=
  {{#unless (isEmpty itemsByType.wise)}}
    <hr>
    <h4 class="tb-embedded-document-list-title">{{localize 'TB2.WisesHeader'}}</h4>
    <ol class="tb-embedded-document-list tb-embedded-document-list--wise item-list">
      {{#> systems/torchbearer/templates/sheets/actor/components/item-list-header.hbs}}
        <div>{{localize 'TB2.WisesHeader'}}</div>
      {{/systems/torchbearer/templates/sheets/actor/components/item-list-header.hbs}}

      {{#each itemsByType.wise as |itemData id|}}
        {{> systems/torchbearer/templates/sheets/actor/components/item-list-entry.hbs
          itemData=itemData
          id=id}}
      {{/each}}

    </ol>
  {{/unless}}
  {{> systems/torchbearer/templates/sheets/actor/components/add-button.hbs
    title='TB2.UserInteractionAddItemTitle'
    documentType='item'
    type='wise'}}
</div>
