{{!--
SPDX-FileCopyrightText: 2021 Johannes Loher
SPDX-FileCopyrightText: 2021 Gesina Schwalbe

SPDX-License-Identifier: MIT
--}}

{{!-- Template for the common body (navigation & body sections) of all items. --}}

{{!-- Sheet Tab Navigation --}}
<nav class="tb-sheet-tab-nav sheet-tabs tabs" data-group="primary">
    <a class="tb-sheet-tab-nav__item item" data-tab="description">{{localize "TB2.HeadingDescription"}}</a>
    <a class="tb-sheet-tab-nav__item item" data-tab="effects">{{localize "TB2.HeadingEffects"}}</a>
    {{#if isPhysical}}
    <a class="tb-sheet-tab-nav__item item" data-tab="details">{{localize "TB2.HeadingDetails"}}</a>
    {{/if}}
    {{#if editable}}
    <a class="tb-sheet-tab-nav__item item" data-tab="configuration">{{localize "TB2.HeadingConfiguration"}}</a>
    {{/if}}
</nav>

{{!-- Sheet Body --}}
<section class="sheet-body">
    {{#> systems/torchbearer/templates/sheets/item/tabs/description.hbs}}
    {{> @partial-block}}
    {{/systems/torchbearer/templates/sheets/item/tabs/description.hbs}}

    {{> systems/torchbearer/templates/sheets/item/tabs/effects.hbs}}

    {{#if isPhysical}}
      {{> systems/torchbearer/templates/sheets/item/tabs/details.hbs}}
    {{/if}}

    {{#if editable}}
      {{#> systems/torchbearer/templates/sheets/item/tabs/configuration.hbs}}
      {{/systems/torchbearer/templates/sheets/item/tabs/configuration.hbs}}
    {{/if}}
</section>
