
<form class="{{cssClass}}" autocomplete="off">
  {{#> systems/torchbearer/templates/sheets/item/components/sheet-header.hbs}}
  {{/systems/torchbearer/templates/sheets/item/components/sheet-header.hbs}}

  {{!-- Common Item body --}}
  {{#> systems/torchbearer/templates/sheets/item/components/body.hbs}}{{/systems/torchbearer/templates/sheets/item/components/body.hbs}}
</form>
