/*
 * SPDX-FileCopyrightText: 2021 Johannes Loher
 * SPDX-FileCopyrightText: 2021 Gesina Schwalbe
 *
 * SPDX-License-Identifier: MIT
 */

$c-white: #fff;
$c-black: #000;
$c-light-grey: #777;
$c-border-groove: #eeede0;
$c-invalid-input: rgba(lightcoral, 50%);
$c-six: #18520b;
$c-six-bg: #acc2a7;
$c-success: #363636;
$c-$c-success-bg: #c0c0c0;
$c-wyrm: #ff7e7e;
$c-wyrm-bg: #d8b5ba;
