
<form class="{{cssClass}}" autocomplete="off">
  {{#> systems/tb2/templates/sheets/item/components/sheet-header.hbs}}
  {{/systems/tb2/templates/sheets/item/components/sheet-header.hbs}}

  {{!-- Common Item body --}}
  {{#> systems/tb2/templates/sheets/item/components/body.hbs}}{{/systems/tb2/templates/sheets/item/components/body.hbs}}
</form>
