{{!--
SPDX-FileCopyrightText: 2021 Johannes Loher

SPDX-License-Identifier: MIT
--}}

<div class="dice-roll">
    {{#if flavor}}
    <div class="dice-flavor">{{flavor}}</div>
    {{/if}}
    <div class="dice-result">
        <div class="dice-formula">{{formula}}</div>
        {{{tooltip}}}
        <h4 class="dice-total{{#if isFail}} tb2-dice-total-fail{{/if}}{{#if isSuccess}} tb2-dice-total-pass{{/if}}">{{total}}
        </h4>
      <div>TODO roll results here, fails to reroll/6s to explode</div>
    </div>
</div>
